<h2> Start Something New</h2>
<div class="login">
<form class="container" novalidate #userForm="ngForm" (ngSubmit)="submit(userForm.value)">
 
<span>Username</span> <input type="text" class="form-control" name="username" placeholder="username" #name="ngModel" required ngModel>
  <br>

  <div *ngIf="name.errors?.required && name.touched">enter name</div>
  <span>Password</span>
  <input type="password" class="form-control" name="password" placeholder="password" required ngModel>
    <br>
  <br>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>
